.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container h1{
    color: rgb(45, 80, 116);
    font-weight: bold;
    margin-left: 600px;
   margin-top: 100px
}